

<% if !@users -%>
<h1>Faça sua busca abaixo:</h1>
<% else -%>
<h1>Resultado da sua busca:</h1>
<% if @users.size == 0 %>
<b>Sua busca não retornou nenhum usuário.</b>
<% else -%>
    <ul>
    <% for user in @users %>
	<li><b><%= link_to user.uid, {:controller => "/user", :action => 'show', :id => user} %>:&nbsp;<%= user.cn %></b></li>
    <% end -%>
    </ul>
<% end -%>
<% end -%>

<fieldset style="width:200px;" >
<% form_for :search do |f| %>
  Buscar:<br/>
  <%= f.text_field :keyword %>
  <%= f.select( :for, %w{ Name Surname }) %>
  <br/> <br/>
  <%= submit_tag 'Search' %>
<% end %>
</fieldset>

<br><br>
<%= link_to 'Back', :controller => 'welcome' %>
