<h1>Usuários:</h1>

<% if @users.empty? -%>
<b>Nenhum usuário encontrado</b>
<% else -%>
    <ul>
    <% @users.each do |user| -%>
        <li><b><%= link_to user.uid, {:action => 'show', :id => user} %>:&nbsp;<%= user.cn %></b></li>
    <% end -%>
    </ul>
<% end -%>

<br><br>
<%= link_to 'New User', :action => 'new' %>
<br>
<%= link_to 'Search', :controller => 'search' %>
<br><br>
<%= link_to 'Back', :controller => 'welcome' %>
