<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<fieldset style="width:200px;" >
<% form_for :user do |f| %>
  Login:<br/>
  <%= f.text_field :uid %>
  <br/>
  Password:<br/>
  <%= f.password_field :userPassword %>
  <br/>
  Complete name:<br/>
  <%= f.text_field :cn %>
  <br/>
  Surname:<br/>
  <%= f.text_field :sn %>
  <br/> <br/>
  <%= submit_tag %>
<% end %>
</fieldset>
