<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

  <%= form_tag :action => 'login' %>
  <fieldset>
  <div class="form-element">
    <label for="name">Username </label>
    <%= text_field 'login', 'name' , {:class=>"text-input"} %>
  </div>
  <div class="form-element">
    <label for="password">Password </label>
    <%= password_field 'login', 'password' , {:class=>"text-input"} %>
  </div>
        <div class="form-element">
                <%= submit_tag "Login" %>
        </div>
  </fieldset>